a.more-link {
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 20px;
  color: $drexel-blue;
  font-family: FuturaBold, sans-serif;
  display: inline-block;
  padding: 4px 0 0 27px;
  height: 22px;
  line-height: 14px;
  background: image-url("sprite.png") no-repeat scroll 0 -422px;
}

.topic:target { /*when the anchor is active (clicked)*/
   animation: myanimation 5s;
}

@keyframes myanimation {
   from { background: #ffff8f; }
   to { background: none; /*or whatever it was originally*/ }
}